# Moodle Analysis: Educational Data Log Analysis

In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/fd/09/b6c3e8442db0342629d1c95e9c451d7ee0920f6c1152edcc0d4bd0ee7ade/psycopg2-2.8.6-cp36-cp36m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [4]:
!pip install logger

Collecting logger
  Downloading https://files.pythonhosted.org/packages/73/2f/b0d28eaa1e2c1cf64129f8da3fe701888d152677fec708cd0f13e8309e1e/logger-1.4.tar.gz
Building wheels for collected packages: logger
  Building wheel for logger (setup.py): started
  Building wheel for logger (setup.py): finished with status 'done'
  Stored in directory: C:\Users\owner pc\AppData\Local\pip\Cache\wheels\91\d4\96\08341e2ac92c1ed4b760e4848e1acda3795f0257a83b94b42e
Successfully built logger
Installing collected packages: logger
Successfully installed logger-1.4

In [1]:
import numpy as np
import pandas as pd

In [2]:
### connect with plsql
import psycopg2
import logger
from sqlalchemy import create_engine
def open_local_db(**kwargs):
    #
    user = kwargs.get('user','postgres')
    db = kwargs.get('db','moodle')
    #
    try:
        params = dict(user=user,
                      host = "127.0.0.1",
                      port = "5432",
                      password = 'root',
                      database = db)
        proot = 'postgresql://{user}:{password}@{host}:5432/{database}'.format(**params)
        #print(proot)
        logger.logging.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
        engine = create_engine(proot)
        #
    except (Exception, psycopg2.Error) as error :
        logger.logging.error(f"Error while connecting to PostgreSQL {error}")
    return engine

In [3]:
engine = open_local_db()

[23/Sep/2020 13:37:31] INFO - Connecting to the PostgreSQL database...using sqlalchemy engine

In [4]:
conn = engine.connect()

In [5]:
# Count number of tables in the databases
number_of_tables = conn.execute("SELECT count(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'public';")
for row in number_of_tables:
    print(row)

(448,)

In [7]:
# using magic method to load ipython-sql
%load_ext sql

In [17]:
%sql postgresql://postgres:root@localhost/moodle

In [18]:
%sql select count(*) from mdl_logstore_standard_log;

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(417554,)]

In [19]:

mit = ['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course', 'mdl_modules' , 'mdl_course_modules', 'mdl_course_modules_completion',
       'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 
       'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts']

# %load_ext sql
def table_count(table):
    count = %sql select count(*) as {table}_count from {table}
    print(count)
    return count

for table in mit:
    display(table_count(table))

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+---------------------------------+
| mdl_logstore_standard_log_count |
+---------------------------------+
|              417554             |
+---------------------------------+

[(417554,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-------------------+
| mdl_context_count |
+-------------------+
|        4359       |
+-------------------+

[(4359,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+----------------+
| mdl_user_count |
+----------------+
|      1052      |
+----------------+

[(1052,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+------------------+
| mdl_course_count |
+------------------+
|        15        |
+------------------+

[(15,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-------------------+
| mdl_modules_count |
+-------------------+
|         26        |
+-------------------+

[(26,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+--------------------------+
| mdl_course_modules_count |
+--------------------------+
|           290            |
+--------------------------+

[(290,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-------------------------------------+
| mdl_course_modules_completion_count |
+-------------------------------------+
|                 4483                |
+-------------------------------------+

[(4483,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-----------------------+
| mdl_grade_items_count |
+-----------------------+
|          113          |
+-----------------------+

[(113,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+------------------------+
| mdl_grade_grades_count |
+------------------------+
|          3643          |
+------------------------+

[(3643,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+----------------------------+
| mdl_grade_categories_count |
+----------------------------+
|             16             |
+----------------------------+

[(16,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-------------------------------+
| mdl_grade_items_history_count |
+-------------------------------+
|              486              |
+-------------------------------+

[(486,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+--------------------------------+
| mdl_grade_grades_history_count |
+--------------------------------+
|              7108              |
+--------------------------------+

[(7108,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+------------------------------------+
| mdl_grade_categories_history_count |
+------------------------------------+
|                 46                 |
+------------------------------------+

[(46,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-----------------+
| mdl_forum_count |
+-----------------+
|        34       |
+-----------------+

[(34,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-----------------------------+
| mdl_forum_discussions_count |
+-----------------------------+
|              23             |
+-----------------------------+

[(23,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.
+-----------------------+
| mdl_forum_posts_count |
+-----------------------+
|          131          |
+-----------------------+

[(131,)]

In [21]:
# Number of quiz submissions by hour of a day
%sql SELECT Extract(HOUR FROM to_timestamp(timecreated)) AS hour, count(*) \
FROM mdl_logstore_standard_log where action='submitted' AND component like '%quiz%' GROUP BY hour;

 * postgresql://postgres:***@localhost/moodle
24 rows affected.

[(0.0, 26),
 (1.0, 23),
 (2.0, 30),
 (3.0, 29),
 (4.0, 7),
 (5.0, 14),
 (6.0, 10),
 (7.0, 18),
 (8.0, 17),
 (9.0, 34),
 (10.0, 46),
 (11.0, 69),
 (12.0, 95),
 (13.0, 88),
 (14.0, 104),
 (15.0, 90),
 (16.0, 80),
 (17.0, 68),
 (18.0, 68),
 (19.0, 70),
 (20.0, 57),
 (21.0, 55),
 (22.0, 46),
 (23.0, 53)]

In [44]:
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [47]:
mdl_user = create_pandas_table("SELECT * FROM mdl_user;")

In [48]:
mdl_user.head()

,id,confirmed,policyagreed,deleted,suspended,idnumber,country,lang,firstaccess,lastaccess,lastlogin,currentlogin,lastip,gender,CountryCode
0,1,1,0,0,0,,Germany,en,0,0,0,0,,Male,DE
1,20,1,0,0,0,,Germany,en,1549745767,1562935333,1549745767,1562935333,197.215.32.111,Male,DE
2,15,1,0,0,0,,Germany,en,1549633236,1563537002,1563469481,1563537002,41.184.239.200,Male,DE
3,36,1,0,0,0,,Ghana,en,1549641288,1559227964,1549651186,1559227892,154.160.1.224,Male,GH
4,44,1,0,0,0,,Ghana,en,1549637001,1560095090,1557475553,1560094908,129.122.1.14,Male,GH

In [49]:
mdl_user.shape

(1052, 15)

In [50]:
mdl_logstore_standard_log = create_pandas_table("SELECT * FROM mdl_logstore_standard_log;")
mdl_context = create_pandas_table("SELECT * FROM mdl_context;")
mdl_course = create_pandas_table("SELECT * FROM mdl_course;")
mdl_modules = create_pandas_table("SELECT * FROM mdl_modules;")
mdl_course_modules = create_pandas_table("SELECT * FROM mdl_course_modules;")
mdl_course_modules_completion = create_pandas_table("SELECT * FROM mdl_course_modules_completion;")
mdl_grade_items = create_pandas_table("SELECT * FROM mdl_grade_items;")
mdl_grade_grades = create_pandas_table("SELECT * FROM mdl_grade_grades;")

In [56]:
print(mdl_logstore_standard_log.head())
print(mdl_context.head())
print(mdl_course.head())
print(mdl_modules.head())
print(mdl_course_modules.head())
print(mdl_course_modules_completion.head())
print(mdl_grade_items.head())
print(mdl_grade_grades.head())

   id                     eventname component    action     target  \
0   1     \core\event\course_viewed      core    viewed     course
1   2     \core\event\user_loggedin      core  loggedin       user
2   3  \core\event\dashboard_viewed      core    viewed  dashboard
3   4     \core\event\course_viewed      core    viewed     course
4   5     \core\event\course_viewed      core    viewed     course

  objecttable  objectid crud  edulevel  contextid  ...  contextinstanceid  \
0        None       NaN    r         2          2  ...                  1
1        user       2.0    r         0          1  ...                  0
2        None       NaN    r         0          5  ...                  2
3        None       NaN    r         2          2  ...                  1
4        None       NaN    r         2          2  ...                  1

   userid  courseid  relateduserid  anonymous  \
0       0         1            NaN          0
1       2         0            NaN          0
2       2         0            2.0          0
3       0         1            NaN          0
4       0         1            NaN          0

                               other timecreated  origin              ip  \
0                                 N;  1548311114     web  105.233.48.139
1  a:1:{s:8:"username";s:5:"admin";}  1548311148     web  105.233.48.139
2                                 N;  1548311179     web  105.233.48.139
3                                 N;  1548313994     web  105.233.48.139
4                                 N;  1548319150     web   41.13.254.147

  realuserid
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 21 columns]
    id  contextlevel  instanceid           path  depth  locked
0    1            10           0             /1      1       0
1  496            70         226  /1/72/430/496      4       0
2    2            50           1           /1/2      2       0
3    3            40           1           /1/3      2       0
4  499            70         228  /1/72/498/499      4       0
   id  category  sortorder                                       fullname  \
0   7         6      60002                          FDP Design -WordPress
1  10         1      30001  How to design and facilitate an online course
2  50        10      80001                How data can impact development
3   8         1      30002                            Game-based Learning
4  46         7      10001               Welcome to UpSkill - start here!

              shortname idnumber  \
0         FDP WordPress
1       Design eCourse
2  Data for Development
3     Game and Learning
4    Welcome to UpSkill

                                             summary  summaryformat  format  \
0  <p><img src="@@PLUGINFILE@@/WordPress.svg.png"...              1  topics
1  <p dir="ltr"><span>After completing this cours...              1  topics
2  <p>This course is part of the Changemaking tra...              1  topics
3  <p><p>In this module, you will explore the var...              1  topics
4  <p>Start here to learn about 10 Academy and wh...              1  topics

   showgrades  ...  defaultgroupingid  lang  calendartype  theme  timecreated  \
0           1  ...                  0                              1528706177
1           1  ...                  0    en                boost   1374053678
2           1  ...                  0    en                boost   1562232960
3           1  ...                  0                      boost   1543612197
4           1  ...                  0    en                boost   1550050414

   timemodified  requested  enablecompletion  completionnotify    cacherev
0    1548697122          0                 1                 0  1561503107
1    1562773717          0                 0                 0  1562773718
2    1562307278          0                 1                 0  1563791465
3    1562773782          0                 0                 0  1562773785
4    1562772944          0                 1                 0  1562930608

[5 rows x 31 columns]
   id        name  cron  lastcron search  visible
0   2  assignment    60         0               0
1   3        book     0         0               1
2   5      choice     0         0               1
3   6        data     0         0               1
4   7    feedback     0         0               1
    id  course  module  instance  section idnumber       added  score  indent  \
0    1       1       9         1        2     None  1548435669      0       0
1   23       6      12         1       17     None  1206338932      0       0
2   69       8      15         2       29           1543620947      0       0
3   24       6       9         4       17     None  1206338989      0       0
4  227      11       9        24       57     None  1549462268      0       0

   visible  ...  visibleold  groupmode  groupingid  completion  \
0        1  ...           1          0           0           0
1        1  ...           1          0           0           0
2        1  ...           1          0           0           0
3        1  ...           1          1           0           0
4        1  ...           1          0           0           0

   completiongradeitemnumber  completionview  completionexpected  \
0                        NaN               0                   0
1                        NaN               0                   0
2                        NaN               0                   0
3                        NaN               0                   0
4                        NaN               0                   0

   showdescription  availability deletioninprogress
0                0          None                  0
1                0          None                  0
2                0          None                  0
3                0          None                  0
4                0          None                  0

[5 rows x 21 columns]
     id  coursemoduleid  userid  completionstate  viewed overrideby  \
0  5801             224      56                1     0.0       None
1     3             228       3                0     1.0       None
2    36             228       2                0     1.0       None
3    37             228       5                0     1.0       None
4    38             228      32                0     1.0       None

   timemodified
0    1561988963
1             0
2             0
3             0
4             0
   id  courseid  categoryid                      itemname itemtype itemmodule  \
0  16         6         5.0   Report Grades (please read)      mod     assign
1  91         1         NaN                          None   course       None
2  17         7         NaN                          None   course       None
3  14         6         5.0           Additional thoughts      mod      forum
4  29         9         9.0  String Variables Review Quiz      mod       quiz

   iteminstance  itemnumber iteminfo idnumber  ... sortorder  display  \
0             7         0.0     None     None  ...         8        0
1            11         NaN     None     None  ...         1        0
2             6         NaN     None     None  ...         1        0
3             5         0.0     None     None  ...         9        0
4             9         0.0     None     None  ...        15        0

   decimals  hidden  locked locktime  needsupdate  weightoverride  \
0      None       0       0        0            0               0
1      None       0       0        0            0               0
2      None       0       0        0            0               0
3      None       0       0        0            0               0
4      None       0       0        0            0               0

   timecreated  timemodified
0   1548694012    1548694012
1   1548863444    1548863444
2   1528952305    1528952305
3   1548694012    1548694012
4   1548694302    1548694302

[5 rows x 31 columns]
   id  itemid  userid  rawgrade  rawgrademax  rawgrademin  rawscaleid  \
0   2      92       3       NaN        100.0          0.0         NaN
1   1      93       3       NaN         10.0          0.0         NaN
2  51     126      50       NaN         12.0          0.0         NaN
3  35      92      65       NaN         12.0          0.0         NaN
4  34      93      65       0.0         12.0          0.0         NaN

   usermodified  finalgrade  hidden  ...  overridden  excluded  feedback  \
0           NaN         NaN       0  ...           0         0      None
1           3.0         NaN       0  ...           0         0      None
2           NaN        12.0       0  ...           0         0      None
3           NaN         0.0       0  ...           0         0      None
4           3.0         0.0       0  ...           0         0      None

   feedbackformat  information informationformat   timecreated  timemodified  \
0               0         None                 0           NaN           NaN
1               0         None                 0           NaN           NaN
2               0         None                 0           NaN  1.549723e+09
3               0         None                 0           NaN  1.549642e+09
4               0         None                 0  1.549640e+09  1.549642e+09

   aggregationstatus  aggregationweight
0            unknown                NaN
1            novalue                0.0
2            unknown                NaN
3            unknown                NaN
4               used                1.0

[5 rows x 23 columns]

In [57]:
print(mdl_logstore_standard_log.shape)
print(mdl_context.shape)
print(mdl_course.shape)
print(mdl_modules.shape)
print(mdl_course_modules.shape)
print(mdl_course_modules_completion.shape)
print(mdl_grade_items.shape)
print(mdl_grade_grades.shape)

(417554, 21)
(4359, 6)
(15, 31)
(26, 6)
(290, 21)
(4483, 7)
(113, 31)
(3643, 23)